.entry-header .entry-meta {
    margin-bottom: 0;
    margin-top: -17px;
	font-size: 14px;
	text-transform: capitalize;
}

.post .entry-header {
	margin-bottom: 10px;
}

.single .entry-header .entry-meta {
	display:none;
}
   

